# 排除某个文件夹
result_5/
figures/
matrix_results/
result_test/
checkpoints/
downsample_sweeps/
experiment_tracking/
figures_channel_mask_neurips/
figures_fewshot_neurips_f1_paired_t_category_y/
logs/
indices/
tables/
models/result_5_neurips/

ALL_TASK.xlsx
catagory_test.ipynb
chance_levels_new.csv
chance_levels_ref.csv
channel_mask_plot.ipynb
character_statistical_analysis.ipynb
collect_information.ipynb
create_demo_dataaset.ipynb
dataset_category_channelmask.csv
dataset_category_fewshot.csv
dataset_category_full.csv
dataset_category.csv
dataset_category.xlsx
dataset_name.txt
fewshot_plot.ipynb
figure5_analysis.ipynb
figure5_cross_subject_linear_reve_outlier copy.ipynb
figure5_cross_subject_linear_reve_outlier.ipynb
figure5_revised.py
kendall_similarity_heatmap.png
launcher.py
leaderboard_utils.py
log.xlsx
lzs_cbramod_test.ipynb
lzs_chance_level_cal.ipynb
main_launcher.py
merged_with_categories2.csv
plot_summary copy.ipynb
plot_summary_lzs_collect_clean.ipynb
plot_summary_lzs.ipynb
plot_summary.ipynb
rank_statistical_test.ipynb
ratio_significance_vs_previous.csv
read_data.ipynb
reve_test.ipynb
six_catetories_plot.ipynb

.claude